// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@import "blueprint/buttons";

@import "compass/utilities";
@import "compass/css3";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

#container {
  @include container;
  margin: 10px auto;
}
#header {
  background: #001247;
  h1 {
    color: #FFF;
    padding: 10px;
    margin: 0;
  }
  .menu {
    @include container;
    position: relative;
  }
  ul {
    position: absolute;
    right: 0;
    top: 0;
    @include horizontal-list;
  }
}
#graph-actions {
  @include column($blueprint-grid-columns, true);
  padding: 15px;
  background-color: #f3f3f3;
  ul {
    @include horizontal-list;
  }
  .save {
    @include border-radius(4px);
    cursor: pointer;
    padding: 4px 6px;
    border: 1px solid #CCC;
    font-size: 12px;
    font-weight: bold;
  }
}
#editor {
  position: relative;
  height: 400px;
}
.edit-group {
   background-color: #f3f3f3;
   border-top: 1px solid #CCC;
  .edit-head {
    @include column($blueprint-grid-columns, true);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
    padding: 4px 0px;
    &.open {
      @include column(1);
      @include rotate(270deg);
      position: relative;
      top: 40px;
    }
    a {
      padding: 4px 8px;
      text-decoration: none;
    }
  }
  .edit-body {
    @include column($blueprint-grid-columns - 1, true);
    height: 400px;
    background-color: #FFF;
    &.closed {
      display:none;
    }
    &.open {
      display:block;
    }
  }
}
#metrics-list {
  overflow:scroll;
  height: 400px;
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      padding: 2px;
      border-bottom: 1px solid #CCC;
      white-space: nowrap;
      a {
        font-weight: bold;
        padding: 0px 4px;
      }
    }
  }
}
#graph-preview {
  @include column($blueprint-grid-columns, true);
  @include clearfix;
  img {
    width: 100%;
    height: 400px;
  }
}

#footer {
  text-align:center;
  color: #666;
  margin: 10px;
}

#graphs-pane {
  @include column($blueprint-grid-columns, true);
  @include clearfix;
  .graph {
    @include column($blueprint-grid-columns / 2);
    img {
      width: 100%;
      height: $blueprint-grid-width * ($blueprint-grid-columns / 2) * 0.75;
    }
  }
}
