@import "blueprint/reset";
@import "partials/base";
@import "partials/fonts";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/utilities";
@import "compass/css3";

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}
@mixin fancy-font {
  font-family: "MentoneSemiBold", Helvetica, Arial;
}
#container {
  @include container;
  margin: 10px auto;
  min-height: 500px;
}
#header {
  background: #001247;
  height: 60px;
  h1 {
    @include fancy-font;
    color: #FFF;
    padding: 10px;
    margin: 0;
    a {
      text-decoration: none;
      color: #FFF;
    }
  }
  .menu {
    @include container;
    position: relative;
  }
  ul {
    position: absolute;
    right: 20px;
    top: 0;
    @include horizontal-list;
    li {
      a {
        @include fancy-font;
        @include border-bottom-radius(5px);
        display:block;
        font-size: 1.3em;
        background: #00081f;
        color: #FFF;
        padding: 10px 20px 5px;
        text-decoration: none;
        &:hover {
          background: #4b4b4b;
        }
      }
    }
  }
}
#editor-pane {
  .save {
    @include border-radius(4px);
    background: #e5e5e5;
    cursor: pointer;
    padding: 4px 6px;
    border: 1px solid #CCC;
    font-size: 12px;
    font-weight: bold;
    &.create {
      background: #FFF;
    }
  }
}
#graph-actions {
  @include column($blueprint-grid-columns, true);
  background-color: #f3f3f3;
  border-bottom: 4px solid #CCC;
  ul {
    @include horizontal-list;
    padding: 10px;
    width: 1400px; // to prevent wrapping
    li {
      &.graph-edit {
        @include border;
        @include column(6);
        form {
          float: left;
          padding-right: 5px;
        }
      }
      &.dashboard {
        @include border;
      }
      &.snapshots {
        form {
          float: left;
          padding-right: 5px;
        }
      }
    }
  }
  button.redraw {
    float: left;
    margin-right: 6px;
  }
  select, input[type=text] {
    font-size: 12px;
  }
  select[name=snapshot] {
    width: 190px;
  }
  h4 {
    @include fancy-font;
    font-size: 1.3em;
    margin-bottom: 5px;
  }
}
#editor {
  position: relative;
  height: 400px;
}
.edit-group {
   background-color: #f3f3f3;
   border-top: 1px solid #CCC;
  .edit-head {
    @include column($blueprint-grid-columns, true);
    font-size: 1.4em;
    cursor: pointer;
    padding: 4px 0px;
    &.open {
      @include column(1);
      @include rotate(270deg);
      position: relative;
      top: 55px;
    }
    a {
      @include fancy-font;
      padding: 4px 8px;
      text-decoration: none;
    }
  }
  .edit-body {
    @include column($blueprint-grid-columns - 1, true);
    height: 400px;
    background-color: #FFF;
    position: relative;
    &.closed {
      display:none;
    }
    &.open {
      display:block;
    }
  }
}

#metrics-menu {
  position: absolute;
  top: 0;
  left: 0;
  background: #e5e5e5;
  padding: 5px;
  width: 100%;
  z-index: 15;
  .search {
    width: 95%;
  }
}
#metrics-list {
  overflow:scroll;
  height: 400px;
  position: relative;
  .empty, .loading {
    margin-top: 40px;
    color: #666;
    font-weight: bold;
    padding: 10px;
  }
  .loading {
    color: #CCC;
  }
  ul {
    list-style-type: none;
    margin: 40px 0px 0px 0px;
    padding: 0px;
    li {
      padding: 2px;
      border-bottom: 1px solid #CCC;
      white-space: nowrap;
      a {
        font-weight: bold;
        padding: 0px 2px;
        text-decoration:none;
        cursor: pointer;
      }
      strong {
        font-size: 1.1em;
      }
    }
  }
}
#graph-preview {
  @include column($blueprint-grid-columns, true);
  @include clearfix;
  img {
    @include column($blueprint-grid-columns, true);
    height: 400px;
    &.loading {
      @include opacity(0.4);
    }
  }
}
#graph-url {
  input {
    @include column($blueprint-grid-columns, true);
    border: 1px solid #CCC;
    padding: 4px 0px;
    font-size: 12px;
    color: #666;
  }
}

#graph-options {
  .options-group {
    margin-top: 10px;
    @include column($blueprint-grid-columns / 3);
    &.last {
      @include column(($blueprint-grid-columns / 3) - 1, true);
    }
    p {
      padding: 5px 0px 0px 15px;
      label {
        font-weight: bold;
        width: 100px;
        float: left;
        &.check {
          float: none;
          width: auto;
        }
      }
      input[type=text] {
        border: 1px solid #CCC;
        padding: 4px;
        font-size: 12px;
      }
    }
  }

}

#footer {
  text-align:center;
  color: #666;
  margin: 100px 0px 0px 20px;
}

h2 {
  @include fancy-font;
  font-size: 2.4em;
  padding: 5px;
  border-bottom: 1px solid #CCC;
}

#graphs-pane {
  @include column($blueprint-grid-columns, true);
  @include clearfix;
  .graph {
    @include column(($blueprint-grid-columns / 2));
    &.last {
      @include column(($blueprint-grid-columns / 2), true);
    }
    h3 {
      @include fancy-font;
      margin: 0px;
      padding: 0px;
    }
    img {
      width: 100%;
      height: $blueprint-grid-width * ($blueprint-grid-columns / 2) * 0.75;
    }
  }
}
.desc {
  padding: 5px;
  background: #f3f3f3;
  margin-bottom: 10px;
}
#snapshots-pane {
  .snapshot {
    @include column($blueprint-grid-columns);
    h3 {
      @include fancy-font;
      margin: 0px;
      padding: 0px;
    }
    img {
      width: 100%;
    }
  }
}
#dashboards-pane {
  @include column($blueprint-grid-columns, true);
  @include clearfix;
  .dashboard {
    @include column($blueprint-grid-columns, true);
    border-bottom: 1px solid #CCC;
    background: #f3f3f3;
    position: relative;
    &.alt {
      background: #FEFEFE;
    }
    &:hover {
      background: #E3E3E3;
    }
    a {
      color: #333;
      text-decoration:none;
      display: block;
      @include clearfix;
    }
    h3 {
      @include fancy-font;
      float: left;
      font-size: 1.8em;
      margin: 0px;
      padding: 20px;
    }
    .meta {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .updated-at {
      color: #CCC;
    }
    .graphs-count {
      @include fancy-font;
      color: #666;
      font-size: 1.8em;
      padding: 0px 8px;
    }
  }
}

#container ul.actions {
  @include horizontal-list(8px, right);
  border-top: 1px solid #CCC;
  padding: 4px;
  input, button{
    @include border-radius(4px);
    color: #666;
    background: #e5e5e5;
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid #CCC;
    font-size: 10px;
    font-weight: bold;
  }
}
#dashboards ul.actions {
  padding-right: 20px;
}
#loading-pane {
  h2 {
    border: none;
    text-align:center;
    color: #666;
    margin: 100px 0px;
  }
}
.empty {
  h3 {
    background: #E3E3E3;
    padding: 20px;
  }
}
