!!!
%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}/

  %title Graphiti

  = stylesheet('/stylesheets/screen.css', media: 'screen, projection')
  <!--[if lt IE 8]>
  = stylesheet('/stylesheets/ie.css', media: 'screen, projection')
  <![endif]-->

%body.bp
  #header
    .menu
      %h1 Graphiti

      %ul
        %li
          %a{href: '/dashboards'}
            Dashboards
        %li
          %a{href: '/graphs'}
            Graphs
        %li
          %a{href: '/graphs/new'}
            + New Graph
  #container
    #graphs-pane.pane{style: 'display:none;'}

    #editor-pane.pane{style: 'display:none;'}
      #graph-preview
        %img{src: '/images/loading.gif'}
        .clear
      #graph-actions
        %ul
          %li.first
            %h4 Graph
            %form.update{action: '/graphs', method: 'put', style: 'display:none'}
              %input.save{type: 'submit', value: 'Update'}
            %form.save-new{action: '/graphs', method: 'post'}
              %input.save{type: 'submit', value: 'Save New'}
          %li
            .dashboard
              %h4 Dashboards
              .new-dashboard{style: 'display: none'}
                %form{action: '/dashboards', method: 'post'}
                  %strong New Dashboard
                  %input{type: 'text', size: 10, placeholder: 'Slug', name: 'dashboard[slug]'}
                  %input{type: 'text', size: 20, placeholder: 'Title', name: 'dashboard[title]'}
                  %input.save{type: 'submit', value: 'Create'}
                  %a{rel: 'cancel'} Cancel
              .add-to-dashboard
                %form{action: '/graphs/dashboards', method: 'post'}
                  %strong Add to
                  %input{type: 'hidden', name: 'uuid'}
                  %select{name: 'dashboard'}
                  %input.save{type: 'submit', value: 'Save', disabled: 'disabled'}
                  %button.save.create{rel: 'create'} Create New
        .clear
      .edit-group
        .edit-head.closed
          %a Options
        .edit-body.closed
          #graph-options
            %form
              %p
                %label Title
                %input{type: 'text', name: 'title'}
              %p
                %label Vertical Title
                %input{type: 'text', name: 'vtitle'}

              %p
                %label Background Color
                %input{type: 'text', name: 'bgcolor'}
              %p
                %label Text Color
                %input{type: 'text', name: 'fgcolor'}
              %p
                %label Color List
                %input{type: 'text', name: 'colorList'}
              %p
                %label Major Grid Color
                %input{type: 'text', name: 'majorGridLineColor'}
              %p
                %label Minor Grid Color
                %input{type: 'text', name: 'minorGridLineColor'}

              %p
                %label Font
                %input{type: 'text', name: 'fontName'}
              %p
                %label Font Size
                %input{type: 'text', name: 'fontSize', size: 2}
              %p
                %label Bold
                %input{type: 'checkbox', name: 'fontBold'}
                %label Italic
                %input{type: 'checkbox', name: 'fontItalic'}

              /
                yMin
                yMax
                lineMode
                lineWidth
                hideLegend
                hideAxes
                hideGrid
                minXStep
                min
                max
        .clear
      .edit-group
        .edit-head.closed
          %a Metrics
        .edit-body.closed
          #metrics-list
            %ul
              %li
                %a{href: '', rel: 'add'} +
                %a{href: '', rel: 'replace'} R
                %strong &nbsp;
        .clear
      .edit-group
        .edit-head.open
          %a Editor
        .edit-body.open
          #editor &nbsp;
        .clear


  #footer
    Graphiti #{Graphiti::VERSION}

  #templates{style: 'display:none'}
    .graph{style: 'display:none'}
      %a.edit
        %img{src: '/images/loading.gif'}
      .desc
        %h3.title &nbsp;
        %ul.actions
          %li
            %a.edit Edit
  %script{src: '/js/libs/ace/ace.js'}
  %script{src: '/js/libs/ace/mode-json.js'}
  %script{src: '/js/libs/ace/theme-textmate.js'}
  %script{src: '/js/default.js'}
