!!!
%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}/

  %title Graphiti

  = stylesheet('/stylesheets/screen.css', media: 'screen, projection')
  <!--[if lt IE 8]>
  = stylesheet('/stylesheets/ie.css', media: 'screen, projection')
  <![endif]-->

%body.bp
  %header
    %h1 Graphiti

    %ul


  #container

    #editor-pane{style: 'display:none;'}
      #graph-preview
        %img{src: '/images/loading.gif'}
      #editor
        :plain
      #metrics-list
        %ul
          %li
            %a{href: '', rel: 'add'} +
            %a{href: '', rel: 'replace'} R
            %strong &nbsp;


  #footer
    Graphiti #{Graphiti::VERSION}

  %script{src: '/js/libs/ace/ace.js'}
  %script{src: '/js/libs/ace/mode-json.js'}
  %script{src: '/js/libs/ace/theme-textmate.js'}
  %script{src: '/js/default.js'}
