!!! html5
%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}

  %title Graphiti

  %link{href: stylesheet('screen'), media: 'screen, projection', type: 'text/css'}
  %link{href: stylesheet('print'), media: 'print', type: 'text/css'}

  <!--[if lt IE 8]>
    %link{href: stylesheet('ie'), media: 'screen, projection', type: 'text/css'}
  <![endif]-->

%body.bp
  %header
    %h1 Graphiti

  #container
    #main

  #footer
    Graphiti #{Graphiti::VERSION}

  %script{src: 'js/default.js'
