---
graphiti:
  redis_url: localhost:6379:1/graphiti
  web_auth:
    realm: "Graphiti"
    username: "username"
    password: "password"
graphs:
  auto_refresh:
    enabled: true # checked by default?
    interval: 60 # seconds
  default_graphite_host: graphite.example.com
  default_options:
    title: "New Graph"
    from: -7d
    font: DroidSans
    fontSize: 10
    thickness: 2
    bgcolor: "#FFFFFF"
    fgcolor: "#333333"
    majorGridLineColor: "#ADADAD"
    minorGridLineColor: "#E5E5E5"
  default_metrics:
    - "stats.timers.production.rails.controller.total.mean"
